*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
# I wanna keep that.
# custom.el
places
.smex-items
savefile/*
!savefile/bookmarks
# I wanna keep this, too
# /prelude-modules.el
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
/srecode-map.el
/jabber-history/
/jabber-avatar-cache/
/ac-comphist.dat
/.python-environments/
!*.org
/personal/customize.el
/personal/init.el
/ensime/
